<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Superheros</title>
</head>
<body>
  <h2><%=%></h2>
  <h3>Team Motto: <%=%></h3>
  <% %>
    <h3>Hero Name: <%=%></h3>
    Hero Power: <%=%><br>
    Hero Biography: <%=%><br>
  <%end%>
</body>
</html>
